<!DOCTYPE html>
<html>
<head>
  <title>Noteable</title>
  <%= stylesheet_link_tag    "noteable/application", :media => "all" %>
  <%= javascript_include_tag "noteable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
